parameters:
    level: 8
    paths:
        - src/
    ignoreErrors:
        - '#Call to method .+ on an unknown class .+Transfer#'
        - '#Instantiated class .+Transfer not found#'
        - '#Method .+ has invalid return type .+Transfer#'
        - '#Parameter .+Transfer of method .+ has invalid type .+Transfer.#'
